{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
        <section class="card card-body">
                <h1 class="display-1 text-center">Django App</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et eum obcaecati quo. Reprehenderit commodi aliquid eligendi inventore delectus itaque ea! Dolores eius repudiandae, harum error laborum aspernatur obcaecati nostrum esse! Amet, incidunt enim maiores ipsa itaque adipisci tempore illo nulla voluptatem deserunt qui officiis praesentium dicta delectus obcaecati voluptates accusantium recusandae sunt voluptatum, quam facere nemo. Quibusdam eaque in excepturi numquam minus voluptatum cum dicta aut mollitia eveniet id temporibus consectetur cumque qui suscipit ullam provident consequatur nesciunt, ut ducimus cupiditate. Nobis consectetur possimus tempora perferendis maxime, dolore error! Distinctio quisquam, tempora sint autem eveniet debitis culpa dicta assumenda delectus.</p>
                
                <div class="text-center">
                        <a class="btn btn-secondary" href="/signin/" role="button">Signin</a>
                        <a class="btn btn-dark" href="/signup/" role="button">Login</a>
                </div>

        </section>
</main>


{% endblock %}