{% extends 'base.html' %}

{% block content %}

<main class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>CREATE TASK</h1>
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
            <form action="" method="post" class="carr card-body">
                    {% csrf_token %}  
                    {{ form.as_p }}
                    <p class='d-grid'>
                          <button type="" class="btn btn-primary">Crear</button>  
                    </p>
            </form>
        </div>
    </div>
</main>


{% endblock %}